[ address:  'localhost',
  port:     10011,
  username: "admin",
  password: "admin",
  name:     "mambo",
  plugins:  [ {:on, {Repl,          []}},
              {:on, {Random,        []}},
              {:on, {Rainbow,       []}},
              {:on, {Uptime,        []}},
              {:on, {Title,         []}},
              {:on, {Benis,         []}},
              {:on, {Eightball,     []}},
              {:on, {Google,        []}},
              {:on, {Images,        []}},
              {:on, {Sux,           []}},
              {:on, {Cannedreplies, []}},
              {:on, {Whatthecommit, []}},
              {:on, {Streams,       []}},
              {:on, {Brainfuck,     []}},
              {:on, {Lastfm,        ["YOUR-APIKEY-HERE"]}},
              {:on, {Youtube,       ["YOUR-APIKEY-HERE"]}},
              {:on, {Wolframalpha,  ["YOUR-APIKEY-HERE"]}}
            ],
  admins:   ["ADMIN_1-TS-ID",
             "ADMIN_2-TS-ID"],
  bot_id:   "BOT-TS-ID-HERE"
]