[ address:  'localhost',
  port:     10011,
  username: "admin",
  password: "admin",
  name:     "mambo",
  plugins:  [ {Repl,         []},
              {Random,       []},
              {Rainbow,      []},
              {Uptime,       []},
              {Google,       []},
              {Title,        []},
              {Benis,        []},
              {Eightball,    []},
              {Images,       []},
              {Wolframalpha, ["API-KEY"]}
            ]
]
