{
  "name": "mambo",
  "user": "mambo",
  "pass": "INSERT SERVER QUERY PASSWORD HERE",
  "host": "localhost",
  "port": 10011,
  "bot_id": "INSERT BOT UNIQUE ID HERE",
  "admins": ["ADMIN 1 UNIQUE ID", "ADMIN 2 UNIQUE ID"],
  "channels": "all",
  "scripts": [
    {"name": "Sux", "args": []},
    {"name": "Help", "args": []},
    {"name": "Admin", "args": []},
    {"name": "Benis", "args": []},
    {"name": "Utils", "args": []},
    {"name": "Title", "args": []},
    {"name": "Urban", "args": []},
    {"name": "Random", "args": []},
    {"name": "Google", "args": []},
    {"name": "Quotes", "args": []},
    {"name": "Rainbow", "args": []},
    {"name": "Private", "args": []},
    {"name": "Brainfuck", "args": []},
    {"name": "Eightball", "args": []},
    {"name": "Translate", "args": []},
    {"name": "Cannedreplies", "args": []},
    {"name": "Whatthecommit", "args": []},
    {"name": "Gif", "args": []},
    {"name": "Lastfm", "args": "LASTFM API KEY HERE"},
    {"name": "Youtube", "args": "YOUTUBE API KEY HERE"},
    {"name": "Wolframalpha", "args": "WOLFRAMALPHA API KEY HERE"},
    {"name": "Twitter", "args": ["TWITTER CONSUMER KEY","TWITTER CONSUMER SECRET"]}
  ]
}
